@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e7e6e9;
    --foreground: #1a1b1c;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #1a1b1c;
    --primary-foreground: #f4f4f4;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: #bfbfbf;
    --muted-foreground: #3c3d40;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  scroll-behavior: smooth;
}

.what-we-do-section {
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.dialog {
  border-radius: 3rem;
}

.items::-webkit-scrollbar {
  display: none;
}

.items {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: pointer; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.items:active {
  /* (Optional) Apply a "closed-hand" cursor during drag operation. */
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
